config.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FileWatcherOptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="StorageOptions">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="SourceDirectory"/>
              <xs:element type="xs:string" name="TargetDirectory"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CryptographyOptions">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Key"/>
              <xs:element type="xs:string" name="Iv"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>